In [14]:
import pandas as pd

In [15]:
ae_df = pd.read_csv('data/pls_fy18_outlet_pud18i.csv', 
usecols=['LIBID', 'LIBNAME', 'ADDRESS', 'CITY', 'STABR', 'ZIP', 'PHONE'],
encoding = "ISO-8859-1")

In [16]:
outlet_df = pd.read_csv('data/pls_fy18_outlet_pud18i.csv', encoding='ISO-8859-1')

In [17]:
ae_df.head()

,STABR,LIBID,LIBNAME,ADDRESS,CITY,ZIP,PHONE
0,AK,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,99556,9072355692
1,AK,AK0002-007,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,99577,9073431530
2,AK,AK0002-008,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,99504,9073434223
3,AK,AK0002-010,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,99587,9073434024
4,AK,AK0002-011,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,9073432892

In [18]:
wanted_columns = ae_df[['LIBNAME', 'ADDRESS', 'CITY', 'STABR', 'ZIP', 'PHONE']]

ae_columns = list(ae_df.columns)

ae_columns

['STABR', 'LIBID', 'LIBNAME', 'ADDRESS', 'CITY', 'ZIP', 'PHONE']

In [19]:
ae_small_df = wanted_columns.copy()

ae_small_df

,LIBNAME,ADDRESS,CITY,STABR,ZIP,PHONE
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892
...,...,...,...,...,...,...
17473,TEN SLEEP BRANCH/SCHOOL LIBRARY,200 N. FIR ST.,TEN SLEEP,WY,82442,3073662348
17474,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,WY,82701,3077462206
17475,UPTON BRANCH LIBRARY,722 4TH ST,UPTON,WY,82730,3074682324
17476,HANKINSON PUBLIC LIBRARY,319 MAIN AVENUE S,HANKINSON,ND,58041,-3
17477,NORTHWOOD SCHOOL & CITY LIBRARY,420 TROJAN ROAD,NORTHWOOD,ND,58267,-3

In [20]:
outlet_df.head()

,STABR,FSCSKEY,FSCS_SEQ,C_FSCS,LIBID,LIBNAME,ADDRESS,CITY,ZIP,ZIP4,...,GNISPLAC,CNTYPOP,LOCALE,REAPLOCALE,CENTRACT,CENBLOCK,CDCODE,CBSA,MICROF,GEOMATCH
0,AK,AK0001,2,Y,AK0001-002,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,99556,M,...,0203110,58533,43,7,8.00,3007,0200,-4,N,A
1,AK,AK0002,7,Y,AK0002-007,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,99577,7743,...,0203000,291538,31,1,2.01,2021,0200,11260,0,A
2,AK,AK0002,8,Y,AK0002-008,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,99504,2012,...,0203000,291538,11,1,7.03,5012,0200,11260,0,A
3,AK,AK0002,10,Y,AK0002-010,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,99587,M,...,0203000,291538,42,1,29.00,2050,0200,11260,0,A
4,AK,AK0002,11,Y,AK0002-011,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,99503,6055,...,0203000,291538,11,1,19.00,3002,0200,11260,0,A

In [21]:
outlet_columns = list(outlet_df.keys())

outlet_columns

['STABR',
 'FSCSKEY',
 'FSCS_SEQ',
 'C_FSCS',
 'LIBID',
 'LIBNAME',
 'ADDRESS',
 'CITY',
 'ZIP',
 'ZIP4',
 'CNTY',
 'PHONE',
 'C_OUT_TY',
 'SQ_FEET',
 'F_SQ_FT',
 'L_NUM_BM',
 'HOURS',
 'WKS_OPEN',
 'YR_SUB',
 'OBEREG',
 'STATSTRU',
 'STATNAME',
 'STATADDR',
 'LONGITUD',
 'LATITUDE',
 'INCITSST',
 'INCITSCO',
 'GNISPLAC',
 'CNTYPOP',
 'LOCALE',
 'REAPLOCALE',
 'CENTRACT',
 'CENBLOCK',
 'CDCODE',
 'CBSA',
 'MICROF',
 'GEOMATCH']

In [22]:
wanted_columns = outlet_df[['LIBNAME', 'ADDRESS', 'CITY', 'STABR', 'ZIP', 'PHONE']]

outlet_small_df = wanted_columns.copy()

outlet_small_df

,LIBNAME,ADDRESS,CITY,STABR,ZIP,PHONE
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892
...,...,...,...,...,...,...
17473,TEN SLEEP BRANCH/SCHOOL LIBRARY,200 N. FIR ST.,TEN SLEEP,WY,82442,3073662348
17474,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,WY,82701,3077462206
17475,UPTON BRANCH LIBRARY,722 4TH ST,UPTON,WY,82730,3074682324
17476,HANKINSON PUBLIC LIBRARY,319 MAIN AVENUE S,HANKINSON,ND,58041,-3
17477,NORTHWOOD SCHOOL & CITY LIBRARY,420 TROJAN ROAD,NORTHWOOD,ND,58267,-3

In [23]:
whole_ilms_df = ae_small_df.append(outlet_small_df)

whole_ilms_df.head()

,LIBNAME,ADDRESS,CITY,STABR,ZIP,PHONE
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892

In [24]:
whole_ilms_df.columns = map(str.lower, whole_ilms_df.columns)

whole_ilms_df.head()

,libname,address,city,stabr,zip,phone
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892

In [25]:
name_changes = {'libname':'name',
               'address':'address1',
               'stabr':'state'}

whole_ilms_df = whole_ilms_df.rename(columns={'libname':'name','address':'address1','stabr':'state'})

whole_ilms_df.head()

,name,address1,city,state,zip,phone
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892

In [26]:
whole_ilms_df['serviceSummary'] = 'Computers, Internet, Books, Charging Stations, Restrooms'

whole_ilms_df.head()

,name,address1,city,state,zip,phone,serviceSummary
0,ANCHOR POINT PUBLIC LIBRARY,34020 NORTH FORK ROAD,ANCHOR POINT,AK,99556,9072355692,"Computers, Internet, Books, Charging Stations,..."
1,CHUGIAK-EAGLE RIVER LIBRARY,12001 BUSINESS BOULEVARD #176,EAGLE RIVER,AK,99577,9073431530,"Computers, Internet, Books, Charging Stations,..."
2,MULDOON LIBRARY,"1251 MULDOON ROAD, SUITE 158",ANCHORAGE,AK,99504,9073434223,"Computers, Internet, Books, Charging Stations,..."
3,SCOTT AND WESLEY GERRISH LIBRARY,250 EGLOFF DRIVE,GIRDWOOD,AK,99587,9073434024,"Computers, Internet, Books, Charging Stations,..."
4,Z. J. LOUSSAC LIBRARY,3600 DENALI STREET,ANCHORAGE,AK,99503,9073432892,"Computers, Internet, Books, Charging Stations,..."

In [27]:
dfduplicates = whole_ilms_df[whole_ilms_df.duplicated()]

In [28]:
dfduplicates

,name,address1,city,state,zip,phone,serviceSummary
3122,TAYLOR COUNTY PUBLIC LIBRARY,403 NORTH WASHINGTON STREET,PERRY,FL,32347,8508383512,"Computers, Internet, Books, Charging Stations,..."
4622,WEST TOWN BRANCH,1625 WEST CHICAGO AVENUE,CHICAGO,IL,60622,3127430450,"Computers, Internet, Books, Charging Stations,..."
6070,ADAIR COUNTY PUBLIC LIBRARY,307 GREENSBURG STREET,COLUMBIA,KY,42728,2703842472,"Computers, Internet, Books, Charging Stations,..."
6072,ALLEN COUNTY PUBLIC LIBRARY,106 WEST PUBLIC SQUARE,SCOTTSVILLE,KY,42164,2702373861,"Computers, Internet, Books, Charging Stations,..."
6075,MARY WOOD WELDON MEMORIAL PUBLIC LIBRARY,1530 SOUTH GREEN STREET,GLASGOW,KY,42141,2706512824,"Computers, Internet, Books, Charging Stations,..."
...,...,...,...,...,...,...,...
17473,TEN SLEEP BRANCH/SCHOOL LIBRARY,200 N. FIR ST.,TEN SLEEP,WY,82442,3073662348,"Computers, Internet, Books, Charging Stations,..."
17474,WESTON COUNTY LIBRARY SYSTEM,23 WEST MAIN ST,NEWCASTLE,WY,82701,3077462206,"Computers, Internet, Books, Charging Stations,..."
17475,UPTON BRANCH LIBRARY,722 4TH ST,UPTON,WY,82730,3074682324,"Computers, Internet, Books, Charging Stations,..."
17476,HANKINSON PUBLIC LIBRARY,319 MAIN AVENUE S,HANKINSON,ND,58041,-3,"Computers, Internet, Books, Charging Stations,..."
17477,NORTHWOOD SCHOOL & CITY LIBRARY,420 TROJAN ROAD,NORTHWOOD,ND,58267,-3,"Computers, Internet, Books, Charging Stations,..."

In [29]:
whole_ilms_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34956 entries, 0 to 17477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            34956 non-null  object
 1   address1        34956 non-null  object
 2   city            34956 non-null  object
 3   state           34956 non-null  object
 4   zip             34956 non-null  int64
 5   phone           34956 non-null  int64
 6   serviceSummary  34956 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.1+ MB

In [30]:
whole_ilms_df = whole_ilms_df.drop_duplicates(keep='first')

In [31]:
whole_ilms_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17377 entries, 0 to 17477
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            17377 non-null  object
 1   address1        17377 non-null  object
 2   city            17377 non-null  object
 3   state           17377 non-null  object
 4   zip             17377 non-null  int64
 5   phone           17377 non-null  int64
 6   serviceSummary  17377 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.1+ MB

In [32]:
dfduplicates.to_csv('data/tmpIMLSFoundDuplicates.csv')

whole_ilms_df.to_csv('data/tmpIMLS.csv')

In [33]:
import json
from pymongo import MongoClient

service_default_values= {
  "name": '',
  "description": '',
  "address1": '',
  "address2": '',
  "city": '',
  "state": '',
  "zip": '',
  "phone": '',
  "contactEmail": '',
  "schedules": [],
  "closeSchedules": [],
  "website": '',
  "facebook": '',
  "twitter": '',
  "instagram": '',
  "youtube": '',
  "serviceSummary": '',
  "age": '',
  "isContact": False
}

In [34]:
userId = os.environ.get('DBUSERNAME')
password = os.environ.get('PW')
originDb = "service"
serviceDb = "tmpILMS"
schemaFile = "tmpILMS_schema.json"

In [35]:
client = MongoClient(
    "mongodb+srv://" + os.environ.get('DBUSERNAME') + ":" + os.environ.get('PW')
    + "@shelter-rm3lc.azure.mongodb.net/shelter?retryWrites=true&w=majority"
)['shelter']
origin_db = db[originDb]  # db with the documents to import
service = db[serviceDb]  # db to add the new services

TypeError: can only concatenate str (not "NoneType") to str